.main-tab {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 10px;
    h1 {
        // position: absolute;
        text-align: center;
        padding: 5px;
        // border-bottom: 1px solid black;
        hr {
            background: black;
            // input {
            //     height: 57px;
            // }
        }
    }
}

.main-tab .container {
    height: 100%;
    table {
        position: relative;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
        td,
        th {
            padding: 6px;
            text-align: center;
            border: 1px solid black;
            background-color: aqua;
        }
    }
}